@use "./base" as *;

.traffic {
  display: flex;
  justify-content: center;
  align-items: center;

  &__header {
    padding: 10rem 0 6rem 0;
    background-image: url("../images/pattern-circles.svg");
    background-repeat: no-repeat;
    background-size: 15rem;
    background-position: center 6rem;
    text-align: center;
  }

  &__title {
    font-size: 2rem;
    padding: 0 0 1rem 0;
  }

  &__subtitle {
    font-size: 1.3rem;
    color: $color-secondary;
  }

  &__box {
    background-color: $color-primary--light;
    text-align: center;
    border-radius: 0.7rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 6px 0px;
    &-header {
      display: grid;
      grid-template-rows: repeat(4, auto);
      padding: 2rem 2rem 4rem 2rem;
      border-bottom: 0.1rem solid $color-secondary--light;
    }

    &-footer {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 3rem;
      padding: 3rem 2rem 2rem 2rem;
    }
  }

  &__views {
    color: $color-secondary;
    font-size: 1.3rem;
    padding: 3rem 0;
    text-transform: uppercase;
    grid-row: 1/2;

    &--span {
    }
  }

  &__price {
    grid-row: 3/4;
    padding: 3rem 0;
    font-size: 3rem;
    font-weight: bold;
    &--span {
      font-size: 1.5rem;
      color: $color-secondary;
    }
  }

  &__form {
    grid-row: 2/3;
  }

  &__input {
  }

  &__combination-box {
    grid-row: 4/5;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.2rem;
  }

  &__words {
    color: $color-secondary;
  }

  .traffic__label {
    position: relative;
    display: inline-block;
    width: 4rem;
    height: 2rem;
    // margin: 0 1rem;
  }

  .traffic__span {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background-color: hsl(226, 100%, 87%);
    transition: 0.3s;
    border-radius: 4rem;
  }

  .traffic__label input {
    display: none;
  }

  .traffic__span:before {
    position: absolute;
    content: "";
    height: 1.5rem;
    width: 1.5rem;
    left: 0.25rem;
    bottom: 0.25rem;
    background-color: hsl(0, 0%, 100%);
    transition: 0.3s;
    border-radius: 1rem;
  }

  input:checked + .traffic__span {
    background-color: #7ce8dc;
  }

  input:checked + .traffic__span:before {
    transform: translateX(2rem);
  }

  &__sale {
    color: $color-sale;
    background-color: $color-sale--light;
    border-radius: 1rem;
    padding: 0.2rem 1.3rem;
  }

  &__text-box {
  }

  &__suggestions {
    font-size: 1.3rem;
    color: $color-secondary;
    line-height: 2.9rem;

    &::before {
      content: url("../images/icon-check.svg");
      margin-right: 1rem;
    }
  }

  &__button {
    background-color: $color-secondary--dark;
    color: $color-secondary--light;
    border: none;
    padding: 1.3rem 4.3rem;
    border-radius: 2rem;
  }
}
